.HeroText {
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 background-color: rgb(32 35 42);
 color: aqua;
}

hr {
  width: 50%;
  color: gray;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(173, 181, 187);
}

nav a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: rgb(80, 75, 75);
  box-shadow: 0px 5px 5px 0px rgba(39, 79, 82, 0.79);
  color: white;
}

nav a:hover {
  box-shadow: none;
  color: aqua;
}

.component-position {
  display: flex;
  justify-content:center;
}


